<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="36bacd69ee29c13d" /> @*Для Яндекс поисковика*@
    <meta name="google-site-verification" content="kbCLyv5tdgvDxUtwXDmjoVrjwTU9L3n5iPjYyeRGPX4" /> @*Для Гугл поисковика*@
    <meta name="keywords" content="храм бабынино Вознесения Господня поселок калуга калужская область бабынинский район Вознесение Господне" />
    <meta name="keywords" content="храм бабынино, храм Вознесения Господня, храм поселок бабынино, калуга храм, калужская область храм, бабынинский район храм, Вознесение Господне" />
    <meta name="description" content="Сайт храма Вознесения Господня пос. Бабынино Калужской обл." />
    <title>@ViewData["Title"] - Храм Вознесения Господня</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="~/" />
</head>
<body>
    <header class="position-fixed vw-100" style="z-index:100000; top:0;">
        <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm bg-dark box-shadow mb-3 shadow  d-flex flex-column">
            <div class="container">
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <a class="navbar-brand ml-lg-n2 font-weight-bold" style="margin-top:-1px;" href="/"><span class="text-danger">ХРАМ</span> ВОЗНЕСЕНИЯ <span class="скрыть">ГОСПОДНЯ</span></a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 mt-2 m-sm-0 text-white">
                        <li class="nav-item">
                            <a class="btn btn-dark mr-1" href="/">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark mr-1" href="/schedule">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark mr-1" href="/photos">Фотографии</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark mr-1" href="/contacts">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mb-3" style="margin-top:80px">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-muted">
        <div class="container text-center p-3">
            <a class="text-light text-muted" target="_blank" href="https://yandex.ru/maps/-/CCUA6Paa~B">ПОС. БАБЫНИНО КАЛУЖСКОЙ ОБЛ.</a><br />
            <span>Спасибо компании <a target="_blank" href="https://somee.com/">somee.com</a> за предоставленное место для сайта.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/my_js/modal_album.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
