@using Microsoft.AspNetCore.Identity
@using razorHramBabynino.Models 
@inject SignInManager<user> SignInManager
@inject UserManager<user> UserManager

<ul class="navbar-nav mt-3 m-sm-0">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="btn btn-dark text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="btn btn-dark text-white">Выход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-dark text-white" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark text-white" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
