@using Microsoft.AspNetCore.Identity
@using razorHramBabynino.Models
@inject SignInManager<user> SignInManager
@inject UserManager<user> UserManager  

<div class="btn-group mt-3 m-xl-0">
    <AuthorizeView>
        <Authorized>
            @if (SignInManager.IsSignedIn(context.User) && (context.User.IsInRole("администратор") || context.User.IsInRole("редактор")))
            {
                <a class="btn btn-light bg-white rounded mr-1" href="/cpanel/posts" title="Панель управления">Панель управления</a>
            }
            <button class="btn btn-light bg-white rounded mr-1" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-id-card-alt text-muted" style="font-size:14pt"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-xl-right border-0">
                <a class="dropdown-item" href="/Identity/Account/Manage/Index" title="Мой профиль">Мой профиль</a>
                <a class="dropdown-item" href="/Identity/Account/Logout">Выход</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-light bg-white rounded mr-1" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-id-card-alt text-muted" style="font-size:14pt"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-xl-right border-0">
                <a class="dropdown-item" href="/Identity/Account/Login">Вход</a>
                <a class="dropdown-item" href="/Identity/Account/Register">Регистрация</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
}
