@using razorHramBabynino.Areas.ControlPanel.Pages.Users.User
@inject ICRUDstringId<user> UsersService

<div class="row mb-3 bg-light">
    <div class="col">Имя</div>
    <div class="col">Email</div>
    <div class="col">Email подтверждён</div>
    <div class="col">Номер телефона</div>
    <div class="col">Роли</div>
</div>

@foreach (var user in users)
{
    <User user="user"></User>
}

@code {
    List<user> users = new List<user>();

    protected override async Task OnInitializedAsync()
    {
        users = await UsersService.getAsync();

}

    async Task<List<string>> roles(user user)
    {
        return await UsersService.getUserRolesAsync(user);
    }
}
