@using Microsoft.AspNetCore.Components.Routing
@using razorHramBabynino.Pages.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(_MainLayout)"/>
        </Found>
        <NotFound>
            <LayoutView>
                <p class="alert alert-info">Страница не найдена</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>