<div class="btn-group btn-group-sm mr-1">
    <div class="bg-light rounded-left pl-2 pt-1 pr-2 pb-1">@tag.name</div>
    <button class="btn btn-secondary" @onclick="убрать"><i class="fas fa-times"></i></button>
</div>

@code {
    [Parameter]
    public tag tag { get; set; } = new tag();

    [Parameter]
    public EventCallback убрать{ get; set; }
}
