<div class="d-flex justify-content-start align-items-start mb-3">
    <div class="btn-group btn-group-sm mr-3">
        <select class="btn btn-secondary" @bind="selectedTag">
            @foreach (var tag in tags)
            {
                <option>@tag.text</option>
            }
        </select>
        <button class="btn btn-secondary" @onclick="()=>добавить(_selectedTag)"><i class="fas fa-plus"></i></button>
    </div>
    @foreach (var tag in newTags)
    {
        <Tag tag="tag" убрать="()=>убрать(tag)"></Tag>
    }
</div>

@code {
    [Parameter]
    public List<tag> tags { get; set; }

    [Parameter]
    public EventCallback<tag> удалить { get; set; }
    void убрать(tag tag)
    {
        newTags.Remove(tag);
        удалить.InvokeAsync(tag);
    }


    List<tag> newTags = new List<tag>();
    tag _selectedTag = new tag();
    string selectedTag
    {
        get
        {
            return _selectedTag.text;
        }
        set
        {
            _selectedTag = new tag { text = value };
        }
    }

    void добавить(tag tag)
    {
        if (newTags.FirstOrDefault(t=>t.text==tag.text)==null)
        {
            newTags.Add(tag);
        }
    }

    protected override void OnInitialized()
    {
        selectedTag = tags.FirstOrDefault().text;
    }
}
