<AuthorizeView>
    <Authorized>
        <CreateComment добавить="(text)=>добавить.InvokeAsync(text)"></CreateComment>
    </Authorized>
    <NotAuthorized>
        <p>Зарегистрируйтесь и оставьте комментарий.</p>
    </NotAuthorized>
</AuthorizeView>

@foreach (var comment in comments)
{
    <Comment comment="comment"></Comment>
}

@code {
    [Parameter]
    public List<comment> comments { get; set; }

    [Parameter]
    public EventCallback<string> добавить { get; set; }
}
