<div class="alert alert-light mb-3">
    <span class="badge badge-dark">@comment.userName </span>
    <span class="text-muted small">@comment.created.ToShortDateString() </span>
    @comment.text
</div>

@code {
    [Parameter]
    public comment comment { get; set; }

}
