<div class="media mb-3">
    <img src="..." class="align-self-start mr-3">
    <div class="media-body">
        <h5 class="mt-0">@comment.userName</h5>
        <p>@comment.text</p>
    </div>
</div>

@code {
    [Parameter]
    public comment comment { get; set; }

}
