@media print {
    @page {
        size:A4 portrait;
        margin: 5mm 5mm 5mm 5mm;        
    }
    .navbar, .footer, .no-print {
        display:none;
    }
    .print-table-header {
        justify-content: center !important;
        font-size: 1.1em;
        text-transform: uppercase;        
    }
        .print-table-header h3 {
            color: black !important;
        }
    body {
        font-size: 1.3em;
        margin-top: -3em;        
    }
    th {
        padding:0.1em!important;
        color:black!important;
    }
}




/*Уменьшаем размер заголовка сайта для маленьких смартфонов*/
.site-title {
    font-size: 1.25em !important;
}

@@media (max-width: 500px) and (min-width: 0) {
    .site-title {
        font-size: .88em !important;
    }
}
