@inject IAppSettingsService AppSettingsService


    <div class="mb-3">
        <label>Название сайта:</label>
        <input class="form-control h-auto" @bind="@appsettings.SiteSettings.site_name" />
    </div>
    <div class="mb-3">
        <label>Описание сайта:</label>
        <input class="form-control h-auto" @bind="@appsettings.SiteSettings.site_description"/>
    </div>
    <div class="mb-3">
        <label>Подвал сайта:</label>
        <input class="form-control h-auto" @bind="@appsettings.SiteSettings.site_footer"/>
    </div>
    <div class="mb-3">
        <label>Строка подключения:</label>
        <input class="form-control h-auto" @bind="@connection_string"/>
    </div>
    <button class="btn btn-warning" @onclick="()=> AppSettingsService.settings=appsettings">Сохранить изменения</button>



@code {
    appsettings appsettings { get; set; }
    protected override void OnInitialized()
    {
        appsettings = AppSettingsService.settings;
    }
    string connection_string
    {
        get
        {
            return appsettings.ConnectionStrings.FirstOrDefault().Value;
        }
        set
        {
            appsettings.ConnectionStrings[appsettings.ConnectionStrings.FirstOrDefault().Key] = value;
        }
    }
}