@inject IPhotosService PhotosService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
    @foreach (var album in albums.OrderByDescending(d => d.updated).Reverse())
    {
        <razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Album album="album">
            <Navigation>
                <button class="btn btn-light mr-1" @onclick="()=>показать(album)"><i class="far fa-eye"></i></button>
                <button class="btn btn-light mr-1" @onclick="()=>изменить(album)"><i class="fas fa-pencil-alt"></i></button>
                <button class="btn btn-light" @onclick="()=>запрос_на_удаление(album)"><i class="fas text-danger fa-trash-alt"></i></button>
            </Navigation>
        </razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Album>
    }
</div>


<razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Modal_album album="selectedAlbum" скрыть_окно="()=>скрыть()"></razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Modal_album>
<razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Modal_remove_album album="selectedAlbum" удалить_фотоальбом="()=>удалить(selectedAlbum)"></razorHramBabynino.Areas.ControlPanel.Pages.Photos.Photo.Modal_remove_album>


@code {
    public List<imageAlbum> albums = new List<imageAlbum>();
    imageAlbum selectedAlbum = new imageAlbum();

    protected override async Task OnInitializedAsync()
    {
        albums = await PhotosService.imageAlbums();
    }

    async Task показать(imageAlbum album)
    {
        selectedAlbum = new imageAlbum();
        await JSRuntime.InvokeAsync<string>("Hidden_album", "modal_album");
        selectedAlbum = album;
        await JSRuntime.InvokeAsync<string>("Show_album", "modal_album");
    }

    async Task скрыть()
    {
        selectedAlbum = new imageAlbum();
        await JSRuntime.InvokeAsync<string>("Hidden_album", "modal_album");
    }

    void изменить(imageAlbum album)
    {
        NavigationManager.NavigateTo($"/cpanel/photos/edit/{album.ID}", true);
    }

    async Task запрос_на_удаление(imageAlbum album)
    {
        selectedAlbum = album;
        await JSRuntime.InvokeAsync<string>("Show_Ask_remove_album", "modal_remove_album");
    }

    async Task удалить(imageAlbum album)
    {
        await PhotosService.delete(album.ID);
        albums.Remove(album);
        await JSRuntime.InvokeAsync<string>("Hide_Ask_remove_album", "modal_remove_album");
    }
}
