@layout Layout
@page "/aboutchurch"
@inject ICRUD<post> PostsService

<div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-2">
    @foreach (var post in posts.Where(p => p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о храме"))))
    {
        <Post post="post"></Post>
    }
</div>

@code {
    List<post> posts = new List<post>();

    protected override void OnInitialized()
    {
        posts = PostsService.get().OrderBy(p => p.created).Where(p => p.published == true).Reverse().ToList();
    }
}
