@inherits LayoutComponentBase

<div class="mb-3">    
    <div class="d-flex justify-content-between align-items-center">    
        <h3 class="mb-1">Новости</h3>
        <div class="d-flex justify-content-center align-items-center">
            <div class="mb-1 mr-1">
                <a class="btn btn-secondary" href="/news">Новости и объявления</a>
                <a class="btn btn-secondary" href="/videos">Видео</a>
            </div>
            <div class="mb-1">
                <a class="btn btn-outline-secondary" href="/aboutchurch">О нашем храме</a>
                <a class="btn btn-warning" href="/aboutsacraments">О Таинствах</a>
                <a class="btn btn-outline-secondary" href="/forchoir">Для клироса</a>
            </div>
        </div>        
    </div>
</div>

@Body
