@inherits LayoutComponentBase

    <div class="mb-3">
        <div class="d-flex justify-content-between">
            <div class="mb-1">
                <a class="btn btn-secondary" href="/news">Новости и объявления</a>
                <a class="btn btn-secondary" href="/videos">Видео</a>
            </div>
            <div class="mb-1">
                <a class="btn btn-secondary" href="/aboutchurch">О нашем храме</a>
                <a class="btn btn-secondary" href="/aboutsacraments">О Таинствах</a>
                <a class="btn btn-secondary" href="/forchoir">Для клироса</a>
            </div>
        </div>
    </div>    

@Body
