@page "/"
@page "/posts"

@inject ICRUD<post> PostsService

<div class="mb-3">
    <ul class="nav nav-pills d-flex justify-content-between">
        <li class="nav-item mb-1">
            <a class="btn btn-secondary active" href="#news" data-toggle="pill">Новости и объявления</a>
            <a class="btn btn-secondary" href="#videos" data-toggle="pill">Видео</a>
        </li>
        <li class="nav-item mb-1">
            <a class="btn btn-secondary" href="#o_hrame" data-toggle="pill">О храме</a>
            <a class="btn btn-secondary" href="#o_tainstvah" data-toggle="pill">О Таинствах</a>
            <a class="btn btn-secondary" href="#dlya_klirosa" data-toggle="pill">Для клироса</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="news">
        <div class="mb-4">
            @foreach (var post in posts.Where(p => p.type == type.объявление))
            {
                <PostNotification post="post"></PostNotification>
            }
        </div>
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.type == type.новость))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="videos">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.type == type.видео && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о храме")) && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о таинствах")) && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "для клироса"))))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="o_hrame">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-2">
            @foreach (var post in posts.Where(p => p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о храме"))))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="o_tainstvah">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о таинствах"))))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="dlya_klirosa">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "для клироса"))))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
</div>


@code {
    List<post> posts = new List<post>();

    protected override void OnInitialized()
    {
        posts = PostsService.get().OrderBy(p => p.created).Where(p => p.published == true).Reverse().ToList();
    }
}