@layout Layout
@page "/videos"
@inject ICRUD<post> PostsService


<div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
    @foreach (var post in posts.Where(p => p.type == type.видео && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о храме")) && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "о таинствах")) && !p.tags.Contains(p.tags.FirstOrDefault(t => t.text == "для клироса"))))
    {
        <Post post="post"></Post>
    }
</div>

@code {
    List<post> posts = new List<post>();

    protected override void OnInitialized()
    {
        posts = PostsService.get().OrderBy(p => p.created).Where(p => p.published == true).Reverse().ToList();
    }
}
