@using Microsoft.AspNetCore.Identity
@using razorHramBabynino.Models
@inject SignInManager<user> SignInManager
@inject UserManager<user> UserManager

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Храм Вознесения Господня</title>
    <link id="bootstrap" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/my_js/loadBootstrap.js"></script>
    <link href="/font-awesome/css/all.min.css" rel="stylesheet" />
    <base href="~/" />
    <style>
        /*Уменьшаем размер заголовка сайта для маленьких смартфонов*/
        .site-title {
            font-size: 1.25em !important;
        }

        @@media (max-width: 420px) and (min-width: 0) {
            .site-title {
                font-size: .9em !important;
            }
        }
    </style>
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light text-dark mb-3 align-items-center" style="z-index:100000;">
        <button class="navbar-toggler btn-light text-dark border-0" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-bars"></i></button>
        <a class="card-link font-weight-bold text-uppercase ml-2 mr-2 mr-lg-4 site-title" href="cpanel/posts"><span class="text-dark">Панель управления</span></a>
        <div class="navbar-collapse collapse">
            <div class="navbar-nav mt-1 m-lg-0">
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/posts/">Публикации</a>
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/schedule">Расписание</a>
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/tags">Теги</a>
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/photos">Фотографии</a>
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/contacts" hidden>Контакты</a>
                <a class="btn btn-light text-dark text-left mr-lg-1 mt-1 mt-lg-0" href="cpanel/settings">Настройки</a>
            </div>
            <div class="flex-grow-1 d-flex justify-content-between mt-1 mt-lg-0">
                <div class="dropdown">
                    <button class="btn btn-light text-dark mr-1" data-toggle="dropdown">
                        <i class="fas fa-plus-circle" style="font-size:1.1em"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left bg-light p-0 border-0">
                        <div class="d-flex flex-column">
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/posts/create">Публикация</a>
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/photos/create">Фотоальбом</a>
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/tags">Тег</a>
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/schedule/create">Расписание</a>
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/contacts/edit" hidden>Контакты</a>
                            <a class="btn btn-light text-dark text-left mt-1 mt-lg-0" href="cpanel/settings/edit">Настройки</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <a class="btn btn-light text-dark mr-1" href="/" title="Вернуться на сайт"><i class="fas fa-home"></i></a>
                    <button class="btn btn-light text-dark mr-1" onclick="changeBootstrap(document.querySelector('#bootstrap'))"><i class="far fa-sun"></i></button>
                    <div class="dropdown">
                        <button class="btn btn-light text-dark" data-toggle="dropdown">
                            <i class="fas fa-id-card-alt"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right bg-light p-0 border-0">
                            <div class="d-flex flex-column">
                                <a class="btn btn-light text-dark text-left" href="/Identity/Account/Manage/Index" title="Мой профиль">Мой профиль</a>
                                <a class="btn btn-light text-dark text-left" href="/Identity/Account/Logout">Выход</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="my_sidebar bg-dark noprint" hidden>
        <div class="navbar navbar-expand-md bg-dark flex-column align-items-stretch" style="max-width:300px">
            <div class="navbar-brand text-white w-100 pt-1 pl-md-3" style="margin-top:-1px;">
                <button class="navbar-toggler text-white" data-toggle="collapse" data-target="#c_me"><i class="fas fa-bars"></i></button>
                <a class="text-white text-decoration-none" href="/cpanel/posts">
                    <h5 class="d-inline-block mt-0 mb-0"><b>Панель управления</b></h5>
                </a>
            </div>
            <nav id="c_me" class="navbar-collapse collapse flex-column align-items-stretch bg-dark text-white rounded w-100 mt-3 mb-2">
                @*Главная*@
                @*<a class="btn btn-dark btn-block text-left m-0" href="/"><i class="fas fa-home pr-2 ico"></i>Главная</a>*@
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("администратор"))
                {
                    @*Пользователи*@
                    @*<a class="btn btn-dark btn-block text-left m-0" href="/cpanel/users"><i class="fas fa-users pr-2 ico"></i>Пользователи</a>*@

                }
                @*Публикации*@
                <div class="btn-group btn-block rounded p-0 m-0">
                    <a class="btn btn-dark btn-block text-left m-0" href="/cpanel/posts"><i class="fas fa-newspaper pr-2 ico"></i>Публикации</a>
                    <a class="btn btn-dark" href="/cpanel/posts/create" title="Создать новую публикацию"><i class="fas fa-plus"></i></a>
                </div>
                @*Комментарии*@
                @*<a class="btn btn-dark btn-block text-left m-0" href="/comments"><i class="far fa-comments pr-2 ico"></i>Комментарии</a>*@
                @*Лайки*@
                @*<a class="btn btn-dark btn-block text-left m-0" href="/likes"><i class="fas fa-heart pr-2 ico"></i>Лайки</a>*@
                @*Теги*@
                <a class="btn btn-dark btn-block text-left m-0" href="/cpanel/tags"><i class="fas fa-tags pr-2 ico"></i>Теги</a>
                @*Фотографии*@
                <div class="btn-group btn-block rounded p-0 m-0">
                    <a class="btn btn-dark btn-block text-left m-0" href="/cpanel/photos"><i class="fas fa-images pr-2 ico"></i>Фотографии</a>
                    <a class="btn btn-dark" href="/cpanel/photos/create" title="Создать новый фотоальбом"><i class="fas fa-plus"></i></a>
                </div>
                @*Расписание*@
                <div class="btn-group btn-block rounded p-0 m-0">
                    <a class="btn btn-dark btn-block text-left m-0" href="/cpanel/schedule"><i class="fas fa-calendar-alt pr-2 ico"></i>Расписание</a>
                    <a class="btn btn-dark" href="/cpanel/schedule/create" title="Добавить расписание"><i class="fas fa-plus"></i></a>
                </div>
                @*Общие настройки*@
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("администратор"))
                {
                    <div class="btn-group btn-block rounded p-0 m-0">
                        <a class="btn btn-dark btn-block text-left m-0" href="/cpanel/settings"><i class="fas fa-wrench pr-2 ico"></i>Настройки</a>
                        <a class="btn btn-dark" href="/cpanel/settings/edit" title="Общие настройки"><i class="fas fa-plus"></i></a>
                    </div>
                }
            </nav>
        </div>
        <div class="my_header pl-4 pr-2 pt-1 pb-1 pt-md-2 pb-md-2 bg-secondary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">@ViewBag.Title</h5>
            <nav>
                <a class="btn btn-secondary m-0" href="/" title="Сайт">Сайт</a>
                <a class="btn btn-secondary m-0" href="Identity/Account/Manage/Index" title="Профиль"><h5 class="fas fa-user-circle mb-0"></h5></a>
            </nav>
        </div>
    </div>

    <div class="container" style="margin-top:5em;">
        <h3 class="mb-4 text-dark">@ViewBag.Title</h3>
        @RenderBody()
    </div>

    <footer class="footer bg-light text-muted" style="margin-top: 4em">
    </footer>


    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/font-awesome/js/all.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="/my_js/changeBootstrap.js"></script>
    <script src="/my_js/modal_album.js"></script>
    <script src="/my_js/editor.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
